/* Common */
body {
  margin: 3em;
}

.flex{
  display: flex;
}

.colorSelected{
  height: 3em;
  width: 3em;
  border: 0.2em solid #ddd !important;
  border-radius: 50%;
  margin-left: 0.5em;
}
.selectedColorsDiv{
  height: 3em;
  margin-left: 5em;
}

.drawBoard{
  height: 40em;
  width: 50em;
  border-style: solid;
  border-color: black;
  background-color: blue;
  margin-left: 5em;
  margin-top: 1em;
}

#titleHeader{
  font-family: 'JetBrains Mono', 'monospace', 'Courier';
  font-size: 4em;
}

/* Range color */
.range {
  cursor: pointer;
  opacity: 0.7;
}

.range:hover {
  opacity: 1.2;
}

/* For Range symbol */
.noSelect{
  user-select: none;
}
/* Container with range, box,...*/
.container {
  padding: 20px;
}

.container .rangeGroup{
  display: flex;
  flex-direction: row;
}

.container .rangeGroup .rangeSymbol{
  display: block;
  width: 80px;
  font-size: 2em;
}

.container .rangeGroup .range{
  flex-basis: 300px;
  display: block;
}

.container #boxColor{
  height: 100px;
  width: 100px;
  margin: 20px;
  margin-left: 200px;
}

/* input holding range value */
#rangeRedBox, 
#rangeGreenBox, 
#rangeBlueBox {
  margin: 0.15em;
  width: 3em;
}

/* Box color */
#boxColor:hover{
  cursor: pointer;
  transform: scale(1.08);
  opacity: 0.8;
}

/* Overlay for selected box color */
.selectedOverlay{
  position: absolute;
  height: 25px;
  width: 25px;
  background-color:grey;
  border-radius: 50%;
  display: block;
  margin-left: 240px;
  margin-top: -80px;
  pointer-events: none;
}

.selectedOverlay::before {
  position: absolute;
  left: 0;
  top: 48%;
  height: 50%;
  width: 4px;
  background-color: white;
  content: "";
  transform: translateX(8px) rotate(-40deg);
  transform-origin: left bottom;
}

.selectedOverlay::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 90%;
  background-color: white;
  content: "";
  transform: translateX(10px) rotate(-50deg);
  transform-origin: left bottom;
}


